@import './bootstrap';

@import './visualiser';

body {
  background-color: #fff1da;
}

.navbar {
  background-color: #b1e0ff;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

#blagWobsite {
  background-color: #b1e0ff;
}

.nav-item {
  border-radius: 5px;
  font-size: large;
  font-weight: bold;
}

.hero {
  @extend .px-4, .py-5, .mt-n3, .mx-n3, .mb-5;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.userSettings {
  min-width: 70%;
}

#NB {
  background-color: rgb(131, 221, 131);
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  background-color: #0dcaf0;
  margin: 1%;
  border-radius: 10px;
}

.invisible-list {
  list-style: none;
}

.margin {
  margin: 1%;
}

.notabene {
  background-color: lightgray;
  border-radius: 2em;
  padding: 2%;
  margin: 1%;
}

.padded {
  padding: 1%;
}
.heavy-padded {
  padding: 5%;
}
table {
  margin: 5%;
  padding: 5%;
}

td {
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-style: solid;
  border-color: #fff1da;
  border-width: 3px;
  min-width: 5em;
  height: 1.5em;
  border-radius: 10px;
}

.top {
  align-items: flex-start;
}

.heavy {
  font-weight: bolder;
}

.false {
  display: flex;
  flex-direction: row;
  background-color: lightcoral;
  align-items: center;
  justify-content: center;
  max-width: 2em;
  max-height: 2em;
}

.true {
  display: flex;
  flex-direction: row;
  background-color: lightgreen;
  align-items: center;
  justify-content: center;
  max-width: 2em;
  max-height: 2em;
}

.code-demo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;

  .code {
    font-family: monospace;
    white-space: pre;
    background: #000;
    color: #fff;
    padding: 1em;
    border-radius: 10px;
  }
}

.stackPointer {
  height: 50px;
  width: 50px;
  animation-name: animation-SP;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  border-radius: 10px;
  border-width: 10px;
  border-style: solid;
}

.animationScore {
  opacity: 0;
  animation-name: anim-score;
  animation-duration: 1s;
  animation-iteration-count: 1;
  width: 0;
}
.affichageScore {
  width: 15em;
  float: top;
}

@keyframes anim-score {
  0% {
    opacity: 1;
  }
  100% {
    transform: translateY(-150px);
    opacity: 0;
  }
}
