@import './bootstrap';

@import './visualiser';

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.hero {
  @extend .px-4, .py-5, .mt-n3, .mx-n3, .mb-5;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.userSettings {
  min-width: 70%;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell {
  background-color: #0dcaf0;
  margin: 1%;
  border-radius: 10px;
}

.invisible-list {
  list-style: none;
}

.margin {
  margin: 1%;
}

.notabene {
  background-color: lightgray;
  border-radius: 2em;
  padding: 2%;
  margin: 1%;
}

.padded {
  padding: 1%;
}
.heavy-padded {
  padding: 5%;
}
table {
  margin: 5%;
  padding: 5%;
}

td {
  justify-content: center;
  align-items: center;
  background-color: lightgray;
  border-style: solid;
  border-color: white;
  border-width: 3px;
  min-width: 5em;
  height: 1.5em;
  border-radius: 10px;
}

.top {
  align-items: flex-start;
}

.heavy {
  font-weight: bolder;
}

.false {
  display: flex;
  flex-direction: row;
  background-color: lightcoral;
  align-items: center;
  justify-content: center;
  max-width: 2em;
  max-height: 2em;
}

.true {
  display: flex;
  flex-direction: row;
  background-color: lightgreen;
  align-items: center;
  justify-content: center;
  max-width: 2em;
  max-height: 2em;
}

.code-demo {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;

  .code {
    font-family: monospace;
    white-space: pre;
    background: #000;
    color: #fff;
    padding: 1em;
    border-radius: 10px;
  }
}

.stackPointer {
  height: 50px;
  width: 50px;
  animation-name: animation-SP;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  border-radius: 10px;
  border-width: 10px;
  border-style: solid;
}

@keyframes animation-SP {
  0% {
    border-color: cyan;
    background-color: darkorange;
  }
  10% {
    transform: translateY(100px);
    border-color: darkorange;
    background-color: blue;
  }
  20% {
    transform: translateY(100px);
    background-color: red;
    border-color: blue;
  }
  30% {
    transform: translateY(300px);
    border-color: red;
    background-color: yellow;
  }
  40% {
    transform: translateY(300px);
    border-color: yellow;
    background-color: purple;
  }
  50% {
    transform: translateY(500px);
    border-color: purple;
    background-color: antiquewhite;
  }
  60% {
    transform: translateY(500px);
    border-color: antiquewhite;
    background-color: pink;
  }
  70% {
    transform: translateY(700px);
    border-color: pink;
    background-color: greenyellow;
  }
  80% {
    transform: translateY(700px);
    border-color: greenyellow;
    background-color: brown;
  }
  90% {
    transform: translateY(900px);
    border-color: brown;
    background-color: blueviolet;
  }

  100% {
    transform: translateY(900px);
    border-color: blueviolet;
    background-color: cyan;
  }
}
